@import 'tailwindcss';
@import './fonts.css';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    /* Fonts */
    --font-sans: 'Space Grotesk', 'Inter', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* Radius Sizes */
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --radius: 0.5rem;

    /* Colors */
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);

    /* Sidebar */
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: #f9f9f9;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;

    --popover: #ffffff;
    --popover-foreground: #0a0a0a;

    --primary: #f5a623;
    --primary-foreground: #0a0a0a;

    --secondary: #f48fb1;
    --secondary-foreground: #0a0a0a;

    --muted: #f5f5f5;
    --muted-foreground: #737373;

    --accent: #00473e;
    --accent-foreground: #ffffff;

    --destructive: #dc2626;
    --destructive-foreground: #ffffff;

    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #d4d4d4;

    --chart-1: #f5a623;
    --chart-2: #f48fb1;
    --chart-3: #ffffff;

    --sidebar: #ffffff;
    --sidebar-foreground: #0a0a0a;
    --sidebar-primary: #f5a623;
    --sidebar-primary-foreground: #0a0a0a;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #0a0a0a;
    --sidebar-border: #e5e5e5;
    --sidebar-ring: #d4d4d4;
}

.dark {
    --background: #0a0a0a;
    --foreground: #f9f9f9;
    --card: #171717;
    --card-foreground: #f9f9f9;

    --popover: #171717;
    --popover-foreground: #f9f9f9;

    --primary: #007c6c;
    --primary-foreground: #0a0a0a;

    --secondary: #2c2c2c;
    --secondary-foreground: #f9f9f9;

    --muted: #2c2c2c;
    --muted-foreground: #a3a3a3;

    --accent: #f48fb1;
    --accent-foreground: #171717;

    --destructive: #ef4444;
    --destructive-foreground: #ffffff;

    --border: #2c2c2c;
    --input: #2c2c2c;
    --ring: #6f6f6f;

    --chart-1: #f48fb1;
    --chart-2: #ffb300;
    --chart-3: #f9f9f9;

    --sidebar: #171717;
    --sidebar-foreground: #f9f9f9;
    --sidebar-primary: #007c6c;
    --sidebar-primary-foreground: #f9f9f9;
    --sidebar-accent: #2c2c2c;
    --sidebar-accent-foreground: #f9f9f9;
    --sidebar-border: #2c2c2c;
    --sidebar-ring: #6f6f6f;
}

@layer utilities {
    .nb-shadow {
        @apply border-3 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)] hover:shadow-none hover:translate-2 transition delay-50 duration-200 ease-in-out;
    }
    .nb-shadow-static {
        @apply border-3 border-black shadow-[4px_4px_0px_rgba(0,0,0,1)];
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-sans;
    }

    h1, h2, h3, h4, h5 {
        @apply text-primary font-semibold;
    }

    h1 {
        font-size: var(--text-2xl);
    }

    h2 {
        font-size: var(--text-xl);
    }

    h3 {
        font-size: var(--text-lg);
    }

    a {
        color: var(--color-blue-600);
        text-decoration-line: underline;
    }

    button:not([data-slot="button"]):not([data-slot="checkbox"]) {
        @apply bg-white border border-black shadow-sm text-black px-4 py-2 rounded-md hover:shadow-md transition;
    }
}

